* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}

#price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    border: #dfdfdf 1px solid;
    margin: 0 25px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.plans {
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #f7f7f7;
    border: #dfdfdf solid 1px;
    padding: 10px 30px;
    width: 100%;
}

.price {
    font-weight: 500;
    font-size: 2rem;
    padding: 20px 0px;
}

.feature {
    line-height: 30px;
}

.btn {
    padding: 0 0;
    padding: 10px 40px;
    font-size: 1rem;
    margin: 10px 0 15px 0;
}

.pri {
    border: 1px #007bff solid;
    color: #007bff;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.pri:hover {
    border: 1px #007bff solid;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.sec {
    border: 1px #007bff solid;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.sec:hover {
    border: 1px #0060c7 solid;
    color: #fff;
    background-color: #0060c7;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

h1 {
    font-weight: 100;
    font-size: 3rem;
}

.outer-p {
    font-weight: 100;
    font-size: 1rem;
    margin: 25px 0;
    line-height: 32px;
}